.no-margin {
  margin: $none !important;
}

.margin-xs {
  margin: $extra-small !important;
}

.margin-sm {
  margin: $small !important;
}

.margin-md {
  margin: $medium !important;
}

.margin-lg {
  margin: $large !important;
}

.margin-top-none {
  margin-top: $none;
}

.margin-top-xs {
  margin-top: $extra-small;
}

.margin-top-sm {
  margin-top: $small;
}

.margin-top-md {
  margin-top: $medium;
}

.margin-top-lg {
  margin-top: $large;
}

.margin-left-none {
  margin-left: $none;
}

.margin-left-xs {
  margin-left: $extra-small;
}

.margin-left-sm {
  margin-left: $small;
}

.margin-left-md {
  margin-left: $medium;
}

.margin-left-lg {
  margin-left: $large;
}

.margin-right-none {
  margin-right: $none;
}

.margin-right-xs {
  margin-right: $extra-small;
}

.margin-right-sm {
  margin-right: $small;
}

.margin-right-md {
  margin-right: $medium;
}

.margin-right-lg {
  margin-right: $large;
}

.margin-bottom-none {
  margin-bottom: $none;
}

.margin-bottom-xs {
  margin-bottom: $extra-small;
}

.margin-bottom-sm {
  margin-bottom: $small;
}

.margin-bottom-md {
  margin-bottom: $medium;
}

.margin-bottom-lg {
  margin-bottom: $large;
}

.marginLR-xs {
  margin: $none $extra-small;
}

.marginLR-sm {
  margin: $none $small;
}

.marginLR-md {
  margin: $none $medium;
}

.marginLR-lg {
  margin: $none $large;
}

.marginTB-xs {
  margin: $extra-small $none;
}

.marginTB-sm {
  margin: $small $none;
}

.marginTB-md {
  margin: $medium $none;
}

.marginTB-lg {
  margin: $large $none;
}
