.no-padding {
  padding: $none !important;
}

.padding-xs {
  padding: $extra-small !important;
}

.padding-sm {
  padding: $small !important;
}

.padding-md {
  padding: $medium !important;
}

.padding-lg {
  padding: $large !important;
}

.padding-top-none {
  padding-top: $none !important;
}

.padding-top-xs {
  padding-top: $extra-small !important;
}

.padding-top-sm {
  padding-top: $small !important;
}

.padding-top-md {
  padding-top: $medium !important;
}

.padding-top-lg {
  padding-top: $large !important;
}

.padding-bottom-none {
  padding-bottom: $none !important;
}

.padding-bottom-xs {
  padding-bottom: $extra-small !important;
}

.padding-bottom-sm {
  padding-bottom: $small !important;
}

.padding-bottom-md {
  padding-bottom: $medium !important;
}

.padding-bottom-lg {
  padding-bottom: $large !important;
}

.padding-left-none {
  padding-left: $none !important;
}

.padding-left-xs {
  padding-left: $extra-small !important;
}

.padding-left-sm {
  padding-left: $small !important;
}

.padding-left-md {
  padding-left: $medium !important;
}

.padding-left-lg {
  padding-left: $large !important;
}

.padding-right-none {
  padding-right: $none !important;
}

.padding-right-xs {
  padding-right: $extra-small !important;
}

.padding-right-sm {
  padding-right: $small !important;
}

.padding-right-md {
  padding-right: $medium !important;
}

.padding-right-lg {
  padding-right: $large !important;
}

.paddingLR-xs {
  padding: $none $extra-small;
}

.paddingLR-sm {
  padding: $none $small;
}

.paddingLR-md {
  padding: $none $medium;
}

.paddingLR-lg {
  padding: $none $large;
}

.paddingTB-xs {
  padding: $extra-small $none;
}

.paddingTB-sm {
  padding: $small $none;
}

.paddingTB-md {
  padding: $medium $none;
}

.paddingTB-lg {
  padding: $large $none;
}
