//
// Variables
// --------------------------------------------------

//== Colors
$turquoise:     #1abc9c !default;
$emerald:       #31ce73 !default;
$peter-river:   #3498db !default;
$amethyst:      #9b59b6 !default;
$wet-asphalt:   #34495e !default;
$green-sea:     #16a085 !default;
$nephritis:     #27af61 !default;
$belize-hole:   #2c89c6 !default;
$wisteria:      #8e44ad !default;
$midnight-blue: #2c3e50 !default;
$sun-flower:    #f1c40f !default;
$carrot:        #e67e22 !default;
$alizarin:      #e74c3c !default;
$clouds:        #ecf0f1 !default;
$concrete:      #95a5a6 !default;
$orange:        #f39c12 !default;
$pumpkin:       #d35400 !default;
$pomegranate:   #c0392b !default;
$silver:        #bdc3c7 !default;
$asbestos:      #7f8c8d !default;

//== Sizes
$none        : 0;
$extra-small : 5px;
$small       : 10px;
$medium      : 20px;
$large       : 40px;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-hover-media-query:  false !default;
