.no-border {
  border: medium none !important;
}

.border {
  border: 1px solid #e6e7e8;
}

.border-top {
  border-top: 1px solid #e6e7e8;
}

.border-left {
  border-left: 1px solid #e6e7e8;
}

.border-right {
  border-right: 1px solid #e6e7e8;
}

.border-bottom {
  border-bottom: 1px solid #e6e7e8;
}
